/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  width: 90%;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  float: right;
  width: 100px;
  margin-right: 5px;
  border: 3px solid white;
  text-align: right;
  margin-bottom: 15px;
}
p {
  width: 75px;
  border: 2px solid white;
}

#p1 {
  background-color: #A52A2A;
  position: relative;
  top: 5px;
  left: 80%;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  margin-bottom: 15px;
}

.col-md-1{
    float: left;
    border: 1px solid green;
    background-color: #A52A2A;
  }

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-md-1 {
    width: 33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: 50%;
  }
}

/********** Medium devices only **********/
@media (max-width: 767px) {
  .col-md-1 {
    width: 100%;
  }
}
