/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  width: 90%;
  margin-bottom: 15px;
  text-align: center;
}

h2 {
  width: 33%;
  left: 50%;
  text-align: right;
  position: relative;
  margin-right: 5px;
  border: 3px solid white;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
  margin-bottom: 15px;
}

.col-md-1{
    float: left;
    border: 1px solid green;
    background-color: #A52A2A;
  }

  .col-md-2{
    float: right;
    border: 1px solid green;
    background-color: #A52A2A;
  }

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-md-1 {
    width: 33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: 50%;
  }
}

/********** Medium devices only **********/
@media (max-width: 767px) {
  .col-md-1 {
    width: 100%;
  }
}
